<!-- folder 'templates' is manually created, not built in, and it has to be named 'templates' -->
<!-- subfolder 'registration' inside 'templates', has to be named 'registration' -->
<!-- this file has to be named 'login' -->

<!-- to import base template from 'base.html' -->
{% extends 'polls/base.html' %}

<!--  -->
{% block title %} Login here {% endblock %}

<!--  -->
{% load crispy_forms_tags %}

<!--  -->
{% block content %}
<form method="POST" class="form-group">
	<!-- csrf_token has to be set whenever creating form -->
	{% csrf_token %}
	<!--  -->
	{{form|crispy}}
	<button type="submit" class="btn btn-success">Login</button>
	<p>Don't have account? Create one <a href="/register">here</a></p>
</form>
{% endblock %}
